#recipes{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-family: Chewy;
    font-size: 25px;
    letter-spacing: 5px;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color:#bb6565;
}

.recipe_widget {
    width:16vw;
    margin: 2vh 2vw;
    border-radius: 10px;
    border: 4px solid rgb(190, 113, 126);
    padding: 1vh 1vw;
    background-color: white;
    position: relative;
}

h1{
    text-align: center;
    font-family: Chewy;
    font-size: 60px; /* hehe six seven */
    color: #bb6565;
    letter-spacing: 5px;
}
.recipe_widget h3, .recipe_widget p {
    margin: 2vh 0;
    /* padding: 1vw 1vh; */
}
.recipe_widget img {
    width:80%;
    max-height: 15vh;
    align-content: center;
    padding: 1vh 1vw; 
    
}
.recipe_widget span{
    position: absolute;
    bottom:1vh;
    right:1vw;
    /* padding: 1vh 1vw; */
    margin: 2vh 0px;
}
.vote_good{
    color: green;
}
.vote_bad{
    color: red;
}
.vote_neutral{
    color:grey;
}

#searchbar{
    align-items: center;
    display: flex;
    gap: 2vh;
    justify-content: center;
    width: 80vw;
    margin: auto;
    padding: 1vh 1vw;
    margin-top: 1vh;
    margin-bottom: 5px;
    font-family: Chewy;
    font-size: 20px;
    letter-spacing: 2px;
}

#searchbar label{
    font-weight: 670;  /* haha six sevennn */
    color: #6e3a3f;
}

#searchbar input[type="search"]{
    padding: 8px 14px;
    border-radius: 999px;
    border: 2px solid rgb(190, 113, 126);
    font-size: 14px;
    width: 320px;
    max-width: 60%;
}

#searchbar input[type="search"]:focus{
    outline: none;
    font-family: Chewy;
    letter-spacing: 2px;
    color:#bb6565;
}

#searchbar button{
    padding: 8px 14px;
    border-radius: 999px;
    border: none;
    background: rgb(190, 113, 126);
    color: #ffffff;
    cursor: pointer;   
    font-size: 20px;
    font-family: Chewy;
    letter-spacing: 2px;
}

html {
    background-color:#ffeaea;
}

#searchbar button:hover{
     padding: 8px 14px;
    border-radius: 999px;
    border: none;
    background: rgb(235, 169, 180);
    color: #ffffff;
    cursor: pointer;   
    font-size: 20px;
}

.recipe_widget:hover {
    width:16vw;
    margin: 2vh 2vw;
    border-radius: 10px;
    border: 4px solid rgb(235, 169, 180);
    padding: 1vh 1vw;
    background-color: white;
    color: rgb(235, 169, 180);
}