#recipes{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color:black
}
.recipe_widget {
    width:16vw;
    margin: 2vh 2vw;
    border-radius: 10px;
    border:2px solid black;
    padding: 1vh 1vw;
    
}

.recipe_widget img {
    width:80%;
    max-height: 15vh;
    /* padding: 1vh 1vw; */
}
#searchbar{
    margin-top: 10vh;
}