#navbar {
  width:100%;
  position: fixed;
  top:0;
  width:100%;
  left:0;
  height:5vh;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  background-color: rgb(222, 149, 161);
  border: 4px solid rgb(190, 113, 126);
  font-family: Chewy;
  display: flex;
  justify-content: flex-end;
  height:100%;
}
#navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width:80px;
  background-color: rgb(233, 170, 180);
  border: 2px solid rgb(190, 113, 126);
  border-radius: 40px;
  margin:5px;
}
#navbar ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: rgb(255, 210, 218);
  border-radius: 40px;
  width:90px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 2px solid rgb(190, 113, 126);
}