body{
    width:100%;
    
}
#login{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-align: center;
}
h1{
    text-align: center;
}