body{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top:10vh;
    align-items: center;
    gap: 3vh;
}
#login{
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-align: center;
    background:#ffd8d8;
    border: 2px solid rgb(190, 113, 126);
    border-radius: 40px;
    padding: 20px;
}
h1{
    text-align: center;
    font-family: Chewy;
    font-size: 40px;
    color: #bb6565;
    letter-spacing: 5px;
}

#username, #password{
    background: rgb(233, 168, 179);
    width: 100%;
    height: 50px;
    margin: 10px 0;
    font-family: Chewy;
    color: white;
}

#submit{
    background: rgb(222, 149, 161);
    width: 20%;
    height: 40px;
    font-family: Chewy;
    color: white;
    margin: 10px;
    font-size: 20px;
}

form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(171, 94, 107);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
}

form input::placeholder {
    color: white;
    text-align: center;
    font-size: 15px;
}

#Signin {
    width: 20%;
    height: 5%;
    text-align: center;
    font-family: Chewy;
    color: rgb(171, 94, 107);
    background-color: #ffd8d8;
    background-size: 40px;
    border-radius: 40px;
    padding: 10px;
    border: 2px solid rgb(190, 113, 126);
}

#Signin a {
    color: white;
    background-size: 10%;
    padding: 5px;
    background-color: rgb(222, 149, 161);
    border: 2px solid rgb(190, 113, 126);
    border-radius: 40px;
}

html {
    background-color:#ffeaea;
}