html {
    background-color:#ffeaea;
}

h1, h2, a{
    text-align: center;
    align-items: center;
}

h1 {
    width: 30%;
    font-size: 50px;
    color: #bb6565;
    letter-spacing: 5px;
    border-radius: 60px;
    padding: 20px;
    border: 6px dotted rgb(171, 94, 107);
    background: #ffd8d8;
}

#text {
    display: flex;
    flex-direction: column;
    font-family: Chewy;
    align-items: center;
}

#extra{
    background:#ffd8d8;
    width: 50%;
    padding: 40px;
    text-align: center;
    border: 4px solid rgb(171, 94, 107);
    border-radius: 40px;
}

h2 {
    color:#bb6565;
    letter-spacing: 2px;
    font-size: 40px;
}

#extra a{
    background:rgb(222, 149, 161);
    padding: 10px;
    color: white;
    border: 4px solid rgb(190, 113, 126);
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

#extra a:hover{
    background:rgb(244, 183, 193);
    padding: 10px;
    color: white;
    border: 4px solid rgb(190, 113, 126);
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

h2 span{
    color:#e88f8f;
}