html {
    background-color:#ffeaea;
}

h1, h2, a{
    text-align: center;
    align-items: center;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color:#bb6565;
}

h1 {
    width: 30%;
    font-size: 50px;
    color: #bb6565;
    letter-spacing: 5px;
    border-radius: 60px;
    padding: 20px;
    border: 6px dotted rgb(171, 94, 107);
    background: #ffd8d8;
}

#text {
    display: flex;
    flex-direction: column;
    font-family: Chewy;
    align-items: center;
}

#extra{
    background:#ffd8d8;
    width: 50%;
    padding: 40px;
    text-align: center;
    border: 4px solid rgb(171, 94, 107);
    border-radius: 40px;
}

h2 {
    color:#bb6565;
    letter-spacing: 2px;
    font-size: 40px;
}

#extra a{
    background:rgb(222, 149, 161);
    padding: 10px;
    color: white;
    border: 4px solid rgb(190, 113, 126);
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

#extra a:hover{
    background:rgb(244, 183, 193);
    padding: 10px;
    color: white;
    border: 4px solid rgb(190, 113, 126);
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
}

h2 span{
    color:#e88f8f;
}
#recipes{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-family: Chewy;
    font-size: 25px;
    letter-spacing: 5px;
}
.recipe_widget {
    width:16vw;
    height: 17vw;
    margin: 2vh 2vw;
    border-radius: 10px;
    border: 4px solid rgb(190, 113, 126);
    padding: 1vh 1vw;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.recipe_widget div{
    position: absolute;
    bottom:0;
    margin: auto;
    width: auto;
    padding: 1vh 1vw;
}
.recipe_widget h3, .recipe_widget p {
    margin: 2vh 0;
    /* padding: 1vw 1vh; */
}
.recipe_widget img {
    width:80%;
    max-height: 19vh;
    width: auto;
    align-content: center;
    padding: 1vh 1vw; 
    /* margin: auto; */
}
.recipe_widget span{
    position: absolute;
    bottom:0vh;
    right:1vw;
    /* padding: 1vh 1vw; */
    margin: 2vh 0px;
}
.vote_good{
    color: green;
}
.vote_bad{
    color: red;
}
.vote_neutral{
    color:grey;
}
.recipe_widget:hover {
    
    border: 4px solid rgb(235, 169, 180);
    color: rgb(235, 169, 180);
}