html {
    background-color:#ffeaea;
}

h1, h2, a{
    text-align: center;
    align-items: center;
}

h1 {
    width: 30%;
    font-size: 40px;
    color: #bb6565;
    letter-spacing: 5px;
    border: 2px solid rgb(171, 94, 107);
    border-radius: 40px;
    padding: 40px;
    background:#ffd8d8;
}

#text {
    display: flex;
    flex-direction: column;
    font-family: Chewy;
    align-items: center;
}

h2{
    background:#ffd8d8;
}
#recipes{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-family: Chewy;
    font-size: 25px;
    letter-spacing: 5px;
}
.recipe_widget {
    width:16vw;
    height: 17vw;
    margin: 2vh 2vw;
    border-radius: 10px;
    border: 4px solid rgb(190, 113, 126);
    padding: 1vh 1vw;
    background-color: white;
    position: relative;
}
.recipe_widget div{
    position: absolute;
    bottom:0;
    margin: auto;
    width: auto;
    padding: 1vh 1vw;
}
.recipe_widget h3, .recipe_widget p {
    margin: 2vh 0;
    /* padding: 1vw 1vh; */
}
.recipe_widget img {
    width:80%;
    max-height: 19vh;
    width: auto;
    align-content: center;
    padding: 1vh 1vw; 
    margin: auto;
}
.recipe_widget span{
    position: absolute;
    bottom:0vh;
    right:1vw;
    /* padding: 1vh 1vw; */
    margin: 2vh 0px;
}
.vote_good{
    color: green;
}
.vote_bad{
    color: red;
}
.vote_neutral{
    color:grey;
}