.vote {
    width:4vh;
    height:4vh;
    border-radius: 4px;
    padding: 0.1px 0.5vw;
    border: 2px solid rgb(171, 94, 107);
    background-color: white;
}
#favorite{
    margin: 0px 3vw;
}

.recipe_img {
    width:20vh;
    height:20vh;
    padding: 2vw;
}
html{
    background-color: rgb(247, 214, 213);
}
p {
    white-space: pre-wrap;
}