.vote {
    width:4vh;
    height:4vh;
    border-radius: 4px;
    padding: 0.1px 0.5vw;
    border: 4px solid rgb(195, 123, 135);
    background-color: white;
    align-items:center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#rate {
    align-items:center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#favorite{
    margin: 0px 3vw;
}

.recipe_img {
    padding: 2vw;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(246, 192, 200);
    border: 4px solid rgb(230, 168, 177);
    border-radius: 40px;
}
html{
    background-color: #ffeaea;
    font-family: Chewy;
}
p {
    white-space: pre-wrap;
}
.allergen_img{
    width:5vh;
    height:5vh;
}
#allergen_box {
    max-width: 50vw;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allergen{
    height:fit-content;
    width:10vw;
    padding:2vh 2vw;
}
.allergen img{
    max-width: 5vw;
}

h1 {
    align-items:center;
    text-align: center;
    border: 4px solid rgb(195, 123, 135);
    border-radius: 40px;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background: rgb(228, 166, 174);
    color: white;
    letter-spacing: 2px;
}

h2{
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background: rgb(248, 197, 204);
    letter-spacing: 2px;
    border: 4px solid rgb(225, 156, 165);
    border-radius: 40px;
    width: 15%;
    padding: 5px;
}

#allergens {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background: rgb(255, 230, 229);
    border: 4px solid rgb(243, 172, 171);
    width: 20%;
    border-radius: 40px;
}

h3 {
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background: rgb(233, 176, 184);
    border: 4px solid rgb(195, 123, 135);
    border-radius: 40px;
    width: 20%;
    padding: 5px;
    letter-spacing: 2px;
    font-size:20px;
    color:white;
}

p {
    align-items:center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background: rgb(246, 192, 200);
    border: 4px solid rgb(230, 168, 177);
    border-radius: 40px;
    width: 55%;
    padding: 5px;
    letter-spacing:2px;
    font-size: 20px;
    color:white;
    height: 300px;
}

button#deleteRecipe {
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 40px;
    font-family: Chewy;
    color: white;
    letter-spacing: 2px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

button#deleteRecipe:hover {
    background: rgb(255, 122, 122)
}

input#name{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(246, 192, 200);
    border: 4px solid rgb(225, 156, 165);
    border-radius: 40px;
    font-family: Chewy;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 5px;
    width: 20%;
    height: 30px;
}

h2 {
    font-family: Chewy;
    letter-spacing: 2px;
    font-size: 15px;
    width: 15%;
}

input[type=checkbox]{
    opacity: 0;
}

#allergen_box {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

textarea#ingredients, textarea#instructions {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(237, 174, 183);
    border: 4px solid rgb(202, 125, 136);
    border-radius: 40px;
    font-family: Chewy;
    color: white;
    letter-spacing: 2px;
    width: 50%;
    font-size: 15px;
    padding: 5px;
    height: 400px;
}

label, input#images,form input {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

label {
    font-family: Chewy;
    color: rgb(195, 123, 135);
    letter-spacing: 2px;
}

form input {
    width: 10%;
    height: 125%;
    background: rgb(222, 149, 161);
    border: none;
    outline: none;
    border: 4px solid rgb(195, 123, 135);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    font-family: Chewy;
    color: white;
    padding: 5px;
    letter-spacing: 5px;
}

form input:hover {
    background: rgb(253, 198, 207);
    border: 4px solid rgb(195, 123, 135);
}

form #images {
    background: rgb(248, 197, 204);
    width: 30%;
    padding: 30px;
    border: 4px solid rgb(195, 123, 135);
}

form #images::file-selector-button{
    border: none;
    border-radius: 40px;
    font-family: Chewy;
    background: rgb(228, 166, 174);
    color: white;
    width: 100%;
    letter-spacing: 5px;
    padding: 10px;
}

form #images::file-selector-button:hover{
    background: rgb(245, 183, 191);
}

input[type="file"] {
  color: transparent;
}

.old_img_holder {
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(246, 192, 200);
    border: 4px solid rgb(230, 168, 177);
    border-radius: 40px;
    padding: 2vw;
}

button#removeimage {
    background: rgb(191, 118, 129);
    border: 4px solid rgb(158, 84, 95);
    font-family: Chewy;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    padding: 6px;
}

button#removeimage:hover{
    background: rgb(222, 147, 159);

}

@media (orientation:portrait) {
    h1 {
        width: 50%;
    }

    h2#username {
        width: 40%;
    }

    #allergens {
        width: 80%;
    }

    h3 {
        width: 60%;
    }

    p {
        width: 70%;
    }

    input#name{
        width: 50%;
    }

    h2 {
        width: 40%;
    }

    .allergen img {
        max-width: 10vw;
        align-items: center;
    }

    textarea#ingredients, textarea#instructions {
        width: 80%;
    }

    input[type="submit"] {
        width: 50%;
    }

    input#images {
        width: 60%;
    }

    .old_img_holder {
        width: 70%;
    }

    .old_img_holder img {
        width: 80%;
    }

    .recipe_img {
        width: 70%;
    }

    .recipe_img img {
        width: 80%;
    }
}