html {
    background-color:#ffeaea;
}

#errormsg {
    color: rgb(224, 66, 66);
    font-family: Chewy;
    text-align: center;
    font-size: 20px;
}

h1{
    text-align: center;
    font-family: Chewy;
    font-size: 50px;
    color: #bb6565;
    letter-spacing: 5px;
}

#signup{
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#ffd8d8;
    border: 6px solid rgb(190, 113, 126);
    border-radius: 40px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#password, #username, #confirm{
    background: rgb(233, 168, 179);
    width: 90%;
    height: 50px;
    margin: 10px 0;
    font-family: Chewy;
    color: white;
    align-items: center;
    text-align: center;
    border: 4px solid rgb(201, 122, 135);
}

form input {
    width: 25%;
    height: 125%;
    background: rgb(222, 149, 161);
    border: none;
    outline: none;
    border: 4px solid rgb(184, 109, 121);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    font-family: Chewy;
    color: white;
    padding: 5px;
}

form input:hover {
    background: rgb(253, 198, 207);
    border: 4px solid rgb(195, 123, 135);
}

#forms{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-align: center;
    background:#ffd8d8;
    border: 5px solid rgb(190, 113, 126);
    border-radius: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

form input::placeholder {
    color: white;
    text-align: center;
    font-size: 20px;
}