
html {
    background-color:#ffeaea;
}

body {
    width:100%;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2vh;
}

input[type=text]{
    border:4px solid white;
    border-radius: 40px;
}

textarea {
    resize: none;
}

#name, #ingredients, #instructions {
    border: 4px solid rgb(195, 123, 135);
    border-radius: 40px;
    padding: 5px;
    background: #ffd8d8;
}

form input, textarea {
    font-family: Chewy;
    text-align: center;
    color: white;
    font-size: 30px;
}

form input::placeholder, textarea::placeholder {
    font-family: Chewy;
    text-align: center;
    align-items: center;
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
}

#name {
    width: 50%;
    padding:20px;
    background: rgb(235, 171, 182);
}

#ingredients {
    background: rgb(248, 197, 204);
    width: 60%;
    height: 300px;
    padding: 20px;
}

#instructions {
    height: 600px;
    width: 70%;
    padding: 20px;
}

form input {
    width: 10%;
    height: 125%;
    background: rgb(222, 149, 161);
    border: none;
    outline: none;
    border: 4px solid rgb(195, 123, 135);
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    font-family: Chewy;
    color: white;
    padding: 5px;
    letter-spacing: 5px;
}

form input:hover {
    background: rgb(253, 198, 207);
    border: 4px solid rgb(195, 123, 135);
}

form #images {
    background: rgb(248, 197, 204);
    width: 30%;
    padding: 30px;
    border: 4px solid rgb(195, 123, 135);
}

form #images::file-selector-button{
    border: none;
    border-radius: 40px;
    font-family: Chewy;
    background: rgb(228, 166, 174);
    color: white;
    width: 100%;
    letter-spacing: 5px;
    padding: 10px;
}

form #images::file-selector-button:hover{
    background: rgb(245, 183, 191);
}

input[type="file"] {
  color: transparent;
}

#allergen_box {
    max-width: 50vw;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allergen{
    height:fit-content;
    width:10vw;
    padding:2vh 2vw;
}
.allergen img{
    max-width: 5vw;
}
input[type=checkbox]{
    opacity: 0;
}

@media (orientation:portrait) {
    #name {
        width: 40%;
    }

    .allergen img {
        max-width: 10vw;
        align-items: center;
    }

    input[type="submit"] {
        width: 20%;
    }

    #ingredients {
        width: 80%;
    }

    #instructions {
        width: 90%;
    }
}