<link rel="stylesheet" href="/css/header.css">
<nav id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/submit">Submit</a></li>
        <li><a href="/browse">Browse</a></li>
        <% if(session.username){ %>
            <li><a href="/profile">Profile</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>
<br>