<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Critter Cafe</title>
    <%- include('_universal') %>
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <%- include('_header',{username:username})%>
    <p>hallo we are critter cafe we like cats</p>
</body>
</html>