<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Critter Cafe</title>
    <%- include('_universal') %>
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <%- include('_header',{username:username})%>
    <p>This is Critter Cafe! Your one-stop pet shop for storing and sharing your yummiest recipies!
       Write down your recipies for others to view and give feedback on ones others post!
       This cafe was made by five talented developers at Purdue University-in just a few months!
       Who said a bunch of polytechnic nerds couldn't make a website with cute animals?
       (Absolutely no one doubted us...but every good story needs conflict)
       Website developed by Maaz Zubair, Jae Reynolds, Rei Miles, Katelyn Schein, Jayden Wijeyakulasuriya, and Effie [LastName]
       Have fun navigating the cafe, and don't forget to pet the cat!
    </p>
</body>
</html>