<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Delius&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/index.css">
        <title>Critter Cafe</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!-- <%- include('_universal') %> -->
    </head>
    <body>        
        <% if (info) { %>
            <%- include('_modal',{info:info}) %>
        <% } %>
        <map id="homepage_map" name="homepage">
            <area shape="rect" coords="1147,1151,1920,2055" href="/profile" alt="login to critter cafe" target="_self">
            <area shape="rect" coords="2134,956,2779,1967" href="/browse" alt="browse recipes">
            <area shape="rect" coords="937,1669,1256,2232" href="/submit" alt="submit a recipe">
            <area shape="rect" coords="3027,1200,3418,1447" href="/about" alt="about critter cafe">
        </map>
        <img id="homepage_img" usemap="#homepage" src="/img/homepage.png" alt="homepage of critter cafe">

        
        
        <script src="/js/index.js"></script>
    </body>
</html>