<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="css/index.css">
        <title>Critter Cafe</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <%- include('_universal') %>
    </head>
    <body>
        <%- include('_header',{username:username})%>
        <h1>THIS IS THE HOMEPAGE OF CRITTERCAFE</h1>
        <% if (info) { %>
            <%- include('_modal',{info:info}) %>
        <% } %>

        <% if (username) { %>
            <h3>Logged in:</h3>
            <p><%= username %></p>
            <br>
            <a href="/api/signout">Signout</a>
        <% } else { %>
            <h3>You are not Signed in</h3>
            <p>Sign in to Contribute to Critter Cafe</p>
        <% } %>

        
        
        <script src="js/script.js"></script>
    </body>
</html>