<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login to Critter Cafe</title>
    <%- include('_universal') %>
</head>
<body>
    <%- include('_header') %>
    <h1>Login to Critter Cafe</h1>  
    <div id="login">
        <form name="login" action="/api/login" method="post" onsubmit="return validateLogin()">
            <input type="text" name="username" id="username" placeholder="Enter Username: ">
            <input type="password" name="password" id="password" placeholder="Enter Password: ">
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    <div>
        <p>Don't have an account with Critter Cafe?</p>
        <a href="/signup">Signup!</a>
    </div>
    
    
    <script src="/js/login.js"></script>
</body>
</html>