<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
    <%- include('_universal') %>
</head>
<body>
    <%- include('_header') %>
    <div id="text">
        <h1>You're Logged In!</h1>
        <div id="extra">
            <h2>Logged In As: <span><%= username %></span></h2>
            <br>
            <a href="/">Go Home</a>
            <br>
            <br>
            <br>
            <a href="/api/signout">Signout</a>
        </div>
    </div>
</body>
</html>