<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
    <%- include('_universal') %>
</head>
<body>
    <%- include('_header') %>
    <div id="text">
        <h1>You're Logged In!</h1>
        <div id="extra">
            <h2>Logged In As: <span><%= username %></span></h2>
            <br>
            <a href="/">Go Home</a>
            <br>
            <br>
            <br>
            <a href="/api/signout">Signout</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr class="rounded">
    <br>
    <div id="text2">
        <h3>Your Favorite Recipes</h3>
    </div>
    <% if(favs.length > 0) { %>
        <div id="recipes">
            <% favs.forEach(function(recipe) { %>
                <%- include('_recipe_widget',{img:recipe.img[0],title:recipe.recipe_name,username:recipe.username,uri:recipe.url,likes:recipe.likes,dislikes:recipe.dislikes}) %>
            <% }); %>
        </div>
    <% } else { %>
        <h2>You Don't Have Any Favorited Recipes</h2>
    <% } %>
</body>
</html>