<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <%- include('_universal') %>
</head>
<body>
    <%- include('_header') %>
    <h1>you logged in!</h1>
    <h2>logged in as username: <%= username %></h2>
    <br>
    <a href="/">go home</a>
</body>
</html>