<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Sign Up for Critter Cafe</title>
    <%- include('_universal') %>
</head>
<body>
    <%- include('_header') %>
    <div id="signup">
        <h1>Sign Up for Critter Cafe!</h1>
    </div>
    <p id="errormsg"></p>
    <div id="forms">
        <form name="login" action="/api/signup" method="post" onsubmit="return validateLogin()">
            <input type="text" name="username" id="username" placeholder="Enter Username: ">
            <br>
            <input type="password" name="password" id="password" placeholder="Enter Password: ">
            <input type="password" name="confirm" id="confirm" placeholder="Confirm Password: ">
            <br> <br>
            <input type="submit" value="SUBMIT">
    </div>
    </form>

    <script src="/js/signup.js"></script>
</body>
</html>